# python-specific files
__pycache__
*.pkl

# log files
*.log
*.log.zip
/multirun

# user config files
*.user.yaml

# result data files
*.csv
*.xls
*.xlsx
*.ods

# data files intentionally not ignored
!*.data.yaml
!*.data.csv
