name: Run on test instances

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-instances:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - pattern: "0010-"
            label: "small"
          - pattern: "00[25]0-"
            label: "medium"
          - pattern: "nsfnet-0100"
            label: "large-nsfnet"
          - pattern: "cost239-0100"
            label: "large-cost239"
          - pattern: "usb-0100"
            label: "large-usb"
          - pattern: "nsfnet-0200"
            label: "huge200-nsfnet"
          - pattern: "nsfnet-0300"
            label: "huge300-nsfnet"
          - pattern: "nsfnet-0400"
            label: "huge400-nsfnet"
          - pattern: "cost239-0200"
            label: "huge200-cost239"
          - pattern: "cost239-0300"
            label: "huge300-cost239"
          - pattern: "cost239-0400"
            label: "huge400-cost239"
          - pattern: "usb-0200"
            label: "huge200-usb"
          - pattern: "usb-0300"
            label: "huge300-usb"
          - pattern: "usb-0400"
            label: "huge400-usb"

    name: Run ${{ matrix.label }} instances

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dr_native
        run: uv venv && cd dr_native && uv tool run maturin develop --release

      - name: Solve via two-phase algorithms
        run: scripts/run_all.sh --pattern=${{ matrix.pattern }} +solver=two_phase +solver.router=greedy,flow,flow_dp +solver.dsa_solver=npm

      - name: Solve via LS-based two-phase algorithms
        run: scripts/run_all.sh --pattern=${{ matrix.pattern }} +solver=ls +solver.base=two_phase +solver.base.router=greedy,flow,flow_dp +solver.base.dsa_solver=npm

      - name: Solve via SGA
        run: scripts/run_all.sh --pattern=${{ matrix.pattern }} +solver=sga +solver.approximate_dsa_solver=fpga +solver.dsa_solver=npm

      - name: Process results
        run: mkdir multirun/results && uv run scripts/collect_logs.py multirun | uv run scripts/process_results.py > multirun/results/processed-${{ matrix.label }}.xlsx

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: log-${{ matrix.label }}
          path: multirun
          include-hidden-files: true
  aggregate-results:
    name: Aggregate instance logs
    runs-on: ubuntu-latest
    needs: run-instances

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all artifacts to multirun/
        uses: actions/download-artifact@v4
        with:
          path: multirun

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Process results
        run: |
          mkdir -p multirun/results
          uv run scripts/collect_logs.py multirun/log* | uv run scripts/process_results.py > multirun/results/processed.xlsx

      - name: Upload output as artifact
        uses: actions/upload-artifact@v4
        with:
          name: processed
          path: multirun/results/processed.xlsx
          include-hidden-files: true
